.container {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.jumbotron {
  background-color: #3744ff;
}
.title {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.row {
  border: 5px double #3744ff;
}

h3 {
  color: #3744ff;
  font-weight: bold;
}

.submit {
  background-color: #3744ff;
}
